# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*/Release
Release
EmptyProject.opensdf
EmptyProject.sdf
EmptyProject.suo
Debug
*/Debug
.HistoryData/
enc_temp_folder/
ipch/

Thickness/connect.udl
Thickness/Thickness.aps
Thickness/NumVerOld.txt
Thickness/Version.h
